<div class="user-info">
	<h1><%= @users.username%></h1>
	<h5><%= @users.email %></h5>
	<!-- edit user profile -->
	<% if current_user %>
		<%= link_to "Edit Profile", edit_user_path(current_user)%>
	<% end %>
</div>
<br>
<hr>
<br>
<div>
	<input id="search" placeholder="Search iTunes">
	<input id="results" type="button" value="search">
	<form>
		<p id="show"></p> 
	</form>
</div>


<!-- <iframe src="https://widgets.itunes.apple.com/widget.html?c=us&brc=F9E0A9&blc=F9E0A9&trc=F9E0A9&tlc=F9E0A9&d=check out some podcasts&t=podcasts&m=podcast&e=podcast&w=250&h=300&ids=152249110,201671138,917918570&wt=playlist&partnerId=&affiliate_id=&at=&ct=" frameborder=0 style="overflow-x:hidden;overflow-y:hidden;width:250px;height: 300px;border:0px"></iframe>

<iframe src="https://widgets.itunes.apple.com/widget.html?c=us&brc=FFFFFF&blc=FFFFFF&trc=FFFFFF&tlc=FFFFFF&d=&t=&m=tvSeason&e=tvSeason&w=250&h=300&ids=&wt=search&partnerId=&affiliate_id=&at=&ct=" frameborder=0 style="overflow-x:hidden;overflow-y:hidden;width:250px;height: 300px;border:0px"></iframe> -->